*{
    box-sizing:border-box;
}
html, body{
    margin:0;
    padding:0;
}
body{
    font-family: 'Lora', serif;
}
body.home{
    height:100vh;
    display:flex;
    background-color:#000;
}
h1, h2, h3, h4, h5, h6{
    font-family:'Ubuntu', sans-serif;
    font-weight:700;
}