.featured.placeholder{
    display:none;
}
.featured.image.container{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    opacity:0;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
.featured.wrapper{
    background-color:rgba(255, 255, 255, 0.8);
    padding:20px;
    margin:auto;
}
.featured.event.title{
    color:#333;
    font-family: 'Archivo Black', sans-serif;
    font-size:80px;
    animation-duration:1s;
    opacity:0;
    animation-fill-mode:forwards;
    animation-delay:0.5s;
}