.featured.placeholder{
    display:none;
}
.featured.image.container{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    opacity:0;
    animation-duration:1s;
    animation-fill-mode:forwards;
}