.featured.placeholder{
    display:none;
}
.featured.image.container{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    opacity:0;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
}
.featured.wrapper{
    background-color:rgba(255, 255, 255, 0.5);
    padding:20px;
    margin:auto;
    margin-left:10%;
    opacity:0;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-delay:0.75s;
    -webkit-transform-style: preserve-3d;
}
.featured.wrapper *{
    margin:0;
}
.featured.wrapper * + *{
    margin-top:10px;
}
.featured.event.title{
    color:#333;
    font-family: 'Ubuntu', sans-serif;
    font-size:72px;
    font-weight:700;
    text-transform:uppercase;
    animation-duration:1.5s;
    opacity:0;
    animation-fill-mode:forwards;
    animation-delay:1.5s;
}
.featured.event.date{
    font-family:'Ubuntu', sans-serif;
    font-size:32px;
    font-weight:700;
    color:#333;
    opacity:0;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
    animation-delay:2.25s;
}
.featured.event.link{
    font-family:'Ubuntu', sans-serif;
    color:#333;
    text-decoration:none;
    display:block;
    opacity:0;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
    animation-delay:3s;
}
.featured.event.slider{
    width:100%;
    position:fixed;
    z-index:5;
    left:0;
    bottom:0;
    overflow-x:auto;
    white-space:nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.featured.event.slide{
    background-color:rgba(255, 255, 255, 0);
    padding:50px;
    text-decoration:none;
    transition:background-color 0.4s;
    display:inline-block;
    white-space:nowrap;
}
.featured.event.slide:hover{
    background-color:rgba(255, 255, 255, 0.5);
}
.featured.event.slide:hover *{
    color:#333;
}
.featured.event.slide *{
    color:#fff;
    text-transform:uppercase;
    font-family:'Ubuntu', sans-serif;
    margin:0;
    transition:color 0.4s;
}
.featured.event.slide * + *{
    margin-top:10px;
}