.logo-link{
    position:absolute;
    top:10px;
    left:10px;
    z-index:100;
}
.logo-link img{
    width:100px;
    height:auto;
    padding:5px;
}
.thumbnail.default.full{
    display:block;
    height:auto !important;
    margin: 50px auto;
    max-width:960px;
    width:100% !important;
}
.single main{
    z-index:10;
    padding:20px;
}
.single main > *:first-child{
    margin-top:0;
}
.event.ticket{
    font-family: 'Ubuntu', sans-serif;
    background-color:#333;
    text-transform:uppercase;
    color:#fff;
    padding:10px 20px;
    display:block;
    float:right;
    margin-left:auto;
    text-decoration:none;
}
.klub25{
    font-family: 'Ubuntu', sans-serif;
    font-size:32px;
    font-weight:700;
    text-align:center;
    line-height:1.5;
    color:#333;
    background-color:#83CECA;
    padding:0 10px;
    display:none;
    opacity:0;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
    animation-delay:2.25s;
}
.klub25[data-klub="Club25"]{
    display:inline;
}
.klub25[data-klub="fynlive"]{
    display: inline;
}
.klub25.fynlive {
    background-color: #BA2026;
    color: #fff;
}
.featured.event.slide .k25{
    color:#333;
    background-color:#83CECA;
}
.featured.event.slide .FL{
    color:#fff;
    background-color:#BA2026;
}