.logo-link{
    position:absolute;
    top:10px;
    left:10px;
    z-index:100;
}
.logo-link img{
    width:100px;
    height:auto;
    background-color:#fff;
    padding:5px;
}
.thumbnail.default.full{
    width:100% !important;
    height:auto !important;
}
.single main{
    position:relative;
    margin-top:-100px;
    z-index:10;
    padding:20px;
}
.single main > *:first-child{
    margin-top:0;
}